<%- include('head.ejs') -%>
<%- include('header.ejs') -%>
<main class="post">
    <h1>
        <%= product.title %>
    </h1>
    <p>
        <%= product.description %>
    </p>
    <div class="imgs">
        <% product.image.forEach((image)=> { -%>
            <img src="/uploads/<%= image %>" alt="Зображення" />
        <% }); -%>
    </div>
    <%- include('post/commentList.ejs', {comments: product.comments}) -%>
    <%- include('post/PostForm.ejs') -%>
</main>
<%- include('footer.ejs') -%>